.pageTitle {
    font-size: 2.7rem;
    font-weight: normal;
}

    .pageTitle span {
        color: #4cd964;
    }
.modal-title{
    font-weight:bold !important;
}

.toggles{
    visibility: collapse !important;
}
#editUserID {
    visibility: collapse !important;
}

#changeUserID {
    visibility: collapse !important;
}



.searchControl {
    display: inline-flex;
}

.searchControl li{
    list-style:none;
}

.btnSearch{
    margin-left:10px !important;
}